.container-navbar{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 300px;
    box-shadow: 3px 3px 10px rgb(203, 203, 203);
}
.header-navbar{
    background-image: url('../../../assets/img/mexibusBird.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 10em;
    box-shadow: -2px 0px 3px rgb(0, 0, 0);
}
.container-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;
    font-size: 14px;
}

.lineaLink{
    background-color: rgb(255, 255, 255);
    padding-left: 30px;
    width: 100%;
    height: 2em;
    box-shadow: -5px 1px 1px rgb(181, 181, 181);
    transition: 0.1s;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.lineaLink:hover{
    background-color: rgb(232, 231, 231);
    transform: scale(1.09);
    transition: 0.1s;
}
